/* body{
  width: 200px;
} */
.list-group-item:hover{
  cursor: pointer;
}
.top-container {
  display: flex;
  align-items: center;
}
.top-container h2{
  padding-left: 5px;
  padding-top: 6px;
  padding-right: 10px;
}
.middle-container {
  display: flex;
  align-items: center;
}
.middle-container button{
  margin: 5px;
}
#add_credentials{
  margin: 0 auto;
  display: block;
}